name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    permissions:
      contents: write
      id-token: write
    uses: sxzz/workflows/.github/workflows/release.yml@v1
    with:
      publish: true

# See https://github.com/jsr-io/jsr-npm/issues/132
#   release-jsr:
#     permissions:
#       contents: read
#       id-token: write
#     uses: sxzz/workflows/.github/workflows/release-jsr.yml@v1
